name: "Main build"

on:
  push:
    branches:
      [main, release/**]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v2
    - name: Setup java
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'microsoft'
        java-package: jdk
        cache: maven

    - name: Build with Maven
      run: mvn --B --update-snapshots verify

    - name: Publsih to GitHub Packages
      run: mvn --batch-mode deploy
      env:
        GITHUB_TOKEN: ${{ github.token }}
